<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
  <specFlow>
    <unitTestProvider name="UnickqNUnit"/>
    <generator allowDebugGeneratedFiles="true" markFeaturesParallelizable="true">
    </generator>
    <plugins>
      <add name="Unickq.SeleniumHelper" path="..\SpecflowSelenium\bin\Debug" />
    </plugins>
  </specFlow>
  <appSettings>
    <add key="browserstack.user" value="YOUR_KEY_HERE" />
    <add key="browserstack.key" value="YOUR_KEY_HERE" />
    <add key="testingbot.key" value="YOUR_KEY_HERE" />
    <add key="testingbot.secret" value="YOUR_KEY_HERE" />
    <add key="saucelabs.username" value="YOUR_KEY_HERE" />
    <add key="saucelabs.accessKey" value="YOUR_KEY_HERE" />
  </appSettings> 
  <autofac>
    <components>
      <component name="IE_local" type="OpenQA.Selenium.IE.InternetExplorerDriver, WebDriver" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      </component>
      <component name="Chrome_local" type="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      </component>  
      <component name="Firefox_local" type="OpenQA.Selenium.Firefox.FirefoxDriver, WebDriver" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      </component>

      <component name="BrowserStack_Win10_Chrome" type="Unickq.SeleniumHelper.WebDriverGrid.BrowserStackWebDriver, Unickq.SeleniumHelper.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Chrome" />
          <parameter name="capabilities">
            <dictionary>
              <item key="os" value="Windows" />
              <item key="os_version" value="10" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="TestingBot_ElCapitan_Safari" type="Unickq.SeleniumHelper.WebDriverGrid.TestingBotWebDriver, Unickq.SeleniumHelper.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Safari" />
          <parameter name="capabilities">
            <dictionary>
              <item key="platform" value="CAPITAN" />
              <item key="version" value="9" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="SauceLabs_Win7_Firefox" type="Unickq.SeleniumHelper.WebDriverGrid.SauceLabsWebDriver, Unickq.SeleniumHelper.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Firefox" />
          <parameter name="capabilities">
            <dictionary>
              <item key="platform" value="Windows 7" />
            </dictionary>
          </parameter>
        </parameters>
      </component>
    </components>
  </autofac>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>