<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <specFlow>
    <unitTestProvider name="UnickqNUnit" />
    <plugins>
      <add name="Unickq.SeleniumHelper"
           path="..\SpecflowSelenium\bin\debug" />
    </plugins>
  </specFlow>
  <appSettings>
    <add key="browserstack.user" value="YOUR_KEY_HERE" />
    <add key="browserstack.key" value="YOUR_KEY_HERE" />
    <add key="testingbot.key" value="YOUR_KEY_HERE" />
    <add key="testingbot.secret" value="YOUR_KEY_HERE" />
    <add key="saucelabs.username" value="YOUR_KEY_HERE" />
    <add key="saucelabs.accessKey" value="YOUR_KEY_HERE" />
  </appSettings>
  <autofac>
    <components>
      <component name="IE" type="OpenQA.Selenium.IE.InternetExplorerDriver, WebDriver"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      </component>
      <component name="Chrome" type="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      </component>
      <component name="Firefox" type="OpenQA.Selenium.Firefox.FirefoxDriver, WebDriver"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
      </component>

      <component name="BrowserStack"
                 type="Unickq.SeleniumHelper.WebDriverGrid.BrowserStackWebDriver, Unickq.SeleniumHelper.SpecFlowPlugin"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Chrome" />
          <parameter name="capabilities">
            <dictionary>
              <item key="os" value="Windows" />
              <item key="os_version" value="10" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="TestingBot"
                 type="Unickq.SeleniumHelper.WebDriverGrid.TestingBotWebDriver, Unickq.SeleniumHelper.SpecFlowPlugin"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Chrome" />
          <parameter name="capabilities">
            <dictionary>
              <item key="os" value="Windows" />
              <item key="os_version" value="10" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="SauceLabs"
                 type="Unickq.SeleniumHelper.WebDriverGrid.SauceLabsWebDriver, Unickq.SeleniumHelper.SpecFlowPlugin"
                 service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Chrome" />
          <parameter name="capabilities">
            <dictionary>
              <item key="os" value="Windows" />
              <item key="os_version" value="10" />
            </dictionary>
          </parameter>
        </parameters>
      </component>
    </components>
  </autofac>
</configuration>