<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    
  <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" /></configSections>
 
  <specFlow>
    <unitTestProvider name="Unickq.SpecFlow.Selenium" />
    <generator allowDebugGeneratedFiles="true" markFeaturesParallelizable="true" />
    <plugins>
      <add name="Unickq.SpecFlow.Selenium" path=".\bin\Debug" />
    </plugins>
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>

  <appSettings>
    <add key="browserstack.user" value="YOUR_DATA_HERE" />
    <add key="browserstack.key" value="YOUR_DATA_HERE" />
    <add key="testingbot.key" value="YOUR_DATA_HERE" />
    <add key="testingbot.secret" value="YOUR_DATA_HERE" />
    <add key="saucelabs.username" value="YOUR_DATA_HERE" />
    <add key="saucelabs.accessKey" value="YOUR_DATA_HERE" />
    <add key="cbt.user" value="YOUR_DATA_HERE" />
    <add key="cbt.key" value="YOUR_DATA_HERE" />
  </appSettings>

  <autofac>
    <components>
      <component name="ChromeDebug" type="Unickq.SpecFlow.Selenium.Local.ChromeDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="capabilities">
            <dictionary>
              <item key="arguments" value="--window-size=1024,1024" />
              <!--              <item key="mobileEmulation" value="iPhone 6" />-->
              <item key="userProfilePreference1" value="intl.accept_languages=nl" />
              <item key="userProfilePreference2" value="download.default_directory=D:\workspace" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="FirefoxDebug" type="Unickq.SpecFlow.Selenium.Local.FirefoxDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="capabilities">
            <dictionary>
              <item key="AcceptUntrustedCertificates" value="true" />
              <!-- <item key="Binary" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe" /> -->
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="RemoteChrome" type="Unickq.SpecFlow.Selenium.WebDriverGrid.RemoteWebDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="url" value="http://localhost:4444/wd/hub" />
          <parameter name="browser" value="Chrome" />
          <parameter name="capabilities">
            <dictionary>
              <item key="YOUR CAP" value="CAP Value" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="CrossbrowserTesting" type="Unickq.SpecFlow.Selenium.WebDriverGrid.CrossBrowserTestingWebDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Chrome" />
          <parameter name="capabilities">
            <dictionary>
              <item key="platform" value="Windows 7" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="BrowserStack_Win10_Firefox" type="Unickq.SpecFlow.Selenium.WebDriverGrid.BrowserStackWebDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="capabilities">
            <dictionary>
              <item key="resolution" value="1920x1080" />
              <item key="os" value="Windows" />
              <item key="os_version" value="10" />
              <item key="browserName" value="Firefox" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="BrowserStack_Win10_Chrome" type="Unickq.SpecFlow.Selenium.WebDriverGrid.BrowserStackWebDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Chrome" />
          <parameter name="capabilities">
            <dictionary>
              <item key="resolution" value="1920x1080" />
              <item key="os" value="Windows" />
              <item key="os_version" value="10" />
            </dictionary>
          </parameter>
        </parameters>
      </component>
      <component name="BrowserStack_Win10_IE" type="Unickq.SpecFlow.Selenium.WebDriverGrid.BrowserStackWebDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Safari" />
          <parameter name="capabilities">
            <dictionary>
              <item key="resolution" value="1920x1080" />
              <item key="os" value="Windows" />
              <item key="os_version" value="10" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="TestingBot_ElCapitan_Safari" type="Unickq.SpecFlow.Selenium.WebDriverGrid.TestingBotWebDriver, Unickq.SpecFlow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Safari" />
          <parameter name="capabilities">
            <dictionary>
              <item key="platform" value="CAPITAN" />
              <item key="version" value="9" />
            </dictionary>
          </parameter>
        </parameters>
      </component>

      <component name="SauceLabs_Win7_Firefox" type="Unickq.SpecFlow.Selenium.WebDriverGrid.SauceLabsWebDriver, Unickq.Specflow.Selenium.SpecFlowPlugin" service="OpenQA.Selenium.IWebDriver, WebDriver" instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="Firefox" />
          <parameter name="capabilities">
            <dictionary>
              <item key="platform" value="Windows 7" />
            </dictionary>
          </parameter>
        </parameters>
      </component>
    </components>
  </autofac>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.1.0" newVersion="3.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="1.9.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>